<img src="/img/border_left.gif" alt=""><br>
<a href="/production-type/"><H2>продукция по типу</H2></a>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    {foreach ($navigation_list as $row)}
    <tr>
        <td width="14px" height="14px" align="center" valign="top"><img src="/img/ico-menu_left.jpg" alt=""></td>
        <td><a href="{$row['UrlRoot']}/" title="">{$row['Name']}</a></td>
    </tr>
    {/foreach}
    <tr>
        <td width="14px" height="14px" align="center" valign="top"><img src="/img/ico-menu_left.jpg" alt=""></td>
        <td><a href="/akulii-hryastch" title="">Акулий хрящ</a></td>
    </tr>
    <tr>
        <td width="14px" height="14px" align="center" valign="top"><img src="/img/ico-menu_left.jpg" alt=""></td>
        <td><a href="/ekstrakt-aloe" title="">Экстракт алоэ</a></td>
    </tr>
    <tr>
        <td width="14px" height="14px" align="center" valign="top"><img src="/img/ico-menu_left.jpg" alt=""></td>
        <td><a href="/argo-vasna" title="">АрогоВасна</a></td>
    </tr>
</table>
<br>